# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
gascheckapi
.env
.docker_build/
bin/
.env
.docker_build/
bin/

# Logs

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
.env

# Config files
config/*
*config.json
